.App {
  text-align: center;
  background-color:#ecf8dd00;
 
}
body {
	
	font-family: 'Varela Round', sans-serif;
	font-size: 13px;
	width: 100%;
	height: 100%;
	
	
}






.App-header {
  background-color: #282c34;
  background-image: linear-gradient(to bottom,black,green);
  min-height: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
